# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/postgres
DATABASE_USERNAME=tareas_user
DATABASE_PASSWORD=123456

# Server Configuration
PORT=8081

# External Services
USER_VALIDATION_SERVICE_URL=https://familiar-tasks.onrender.com

# JWT Configuration
JWT_SECRET=miclavesecreta_conmuchosnumeros123415ycaracteresraros()&*&%^%&^final

# Azure Storage Queue Configuration
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=your-account-name;AccountKey=your-account-key;EndpointSuffix=core.windows.net